body {
  background-color: #fff;
  color: #000;
  margin-left: 10%;
  border: none;
  width: 80%;
  font-family: tahoma;
}

div {
  width: auto;
  margin: 0 auto;
}

h1 {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 30px;
  margin-left: 300px;
  padding: 0px 0;
}

p {
  text-align: center;
}